body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.login-container {
    width: 300px;
    background: white;
    padding: 20px;
    margin: 100px auto;
    border-radius: 8px;
}

.login-container h2 {
    text-align: center;
}

.login-container label {
    display: block;
    margin-top: 10px;
}

.login-container input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #444;
}

.text {
    text-align: center;
    margin-top: 10px;
}
